@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Add this CSS to your global styles or within a CSS module */

.skill-card {
  @apply bg-gray-800 p-6 h-30 w-30 duration-900 items-center justify-center flex flex-col rounded-lg shadow-md transition-transform transform hover:scale-105 hover:border-2 hover:border-pink-500;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
